.cashingOutProcess__cards {
  border: "1px solid black";
}

/* style={{overflow: 'scroll', height: 200}} */

.cashingOutProcess__listContainer {
  height: 221px;
}

/* .cashingOutProcess__listOfInvestors {
  height: 40px;
  background-color: green;
  overflow: "hidden";
} */
